{% macro filter(table, groupIndex, conditionIndex, filterAcronym, filterOperator, filterValue) %}
    {% set filters = table.filterExtension.filters %}
    {% set filter = filters|filter(f => f.acronym == filterAcronym)|first %}
    {% set indexSuffix = '[' ~ groupIndex ~ '][' ~ conditionIndex ~ ']' %}
    <div class="flex" {{ stimulus_target('whatwedo/table-bundle/filter', 'singleFilter') }}>
        <div class="flex-auto w-1/5">
            <select {{ stimulus_action('whatwedo/table-bundle/filter', 'filterTargetChanged') }} name="{{ whatwedo_table_parameter(table, 'filter_column')~indexSuffix }}" class="w-full border-0 text-sm">
                {% for f in filters %}
                    <option
                        value="{{ f.acronym }}"
                        data-operator-options="{{ f.type.operators|whatwedo_table_filter_operators }}"
                        data-value-template="{{ f.type.valueField|raw|e }}"
                        class="form-control"
                        {% if f.acronym == filter.acronym %}selected="selected"{% endif %}
                    >{{ f.name|trans }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex-auto w-1/5">
            <select name="{{ whatwedo_table_parameter(table, 'filter_operator')~indexSuffix }}" class="w-full border-0 text-sm">
                {% for key, value in filter.type.operators %}
                    <option value="{{ key }}" {% if key == filterOperator %}selected="selected"{% endif %}>{{ value|trans }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex-auto w-3/5">
            {{ filter.type.valueField(filterValue)|replace({ '{name}': whatwedo_table_parameter(table, 'filter_value')~indexSuffix })|raw }}
        </div>
        <div class="flex-auto text-right pt-1 items-center w-1/5">
            <div class="flex justify-end">
                <button
                    class="whatwedo_table-button hidden flex-none"
                    {{ stimulus_action('whatwedo/table-bundle/filter', 'appendAnd') }}
                    {{ stimulus_target('whatwedo/table-bundle/filter', 'singleFilterAnd') }}
                    type="button"
                >
                    und
                </button>
                <button
                    class="flex-none px-2.5 py-2 text-neutral-400 hover:text-neutral-600 focus:outline-none"
                    {{ stimulus_action('whatwedo/table-bundle/filter', 'removeAnd') }}
                    {{ stimulus_target('whatwedo/table-bundle/filter', 'singleFilterRemove') }}
                    type="button"
                >
                    {{ bootstrap_icon('trash') }}
                </button>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro filter_group(table, groupIndex, group) %}
    <div {{ stimulus_target('whatwedo/table-bundle/filter', 'filterGroup') }}>
        <span
            class="text-neutral-500 uppercase text-sm font-medium mt-4 block hidden"
            {{ stimulus_target('whatwedo/table-bundle/filter', 'filterGroupFilterHeaderFirst') }}
        >
            {{ 'whatwedo_table.filter.show_element_when' | trans }}
        </span>
        {% if groupIndex > 0 %}
        <span
            class="text-neutral-500 uppercase text-sm font-medium mt-4 block hidden"
            {{ stimulus_target('whatwedo/table-bundle/filter', 'filterGroupFilterHeaderOthers') }}
        >
            {{ 'whatwedo_table.filter.or' | trans }}
        </span>
        {% endif %}
        <div
            class="mt-1 p-4 bg-white relative rounded-md shadow-sm"
            {{ stimulus_target('whatwedo/table-bundle/filter', 'filterGroupFilterList') }}
        >
            {% for data in group %}
                {% if table.filterExtension.filters[data.column] is defined %}
                    {{ _self.filter(table, groupIndex, loop.index0, data.column, data.operator, data.value ?: '') }}
                {% endif %}
            {% else %}
                {% set f = table.filterExtension.filters|first %}
                {{ _self.filter(table, groupIndex, 0, f.acronym, f.type.operators|first) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% if table.filterExtension and table.filterExtension.filters|length > 0 %}
    <div class="relative z-10 pointrt">
        <div class="fixed inset-0 opacity-0 ease-in-out delay-100 duration-400 transition-opacity hidden bg-neutral-500/[.6]" {{ stimulus_target('whatwedo/table-bundle/filter', 'backdrop') }}></div>
        <div
            class="whatwedo_table:filter__wrapper pointer-events-none fixed inset-0 overflow-hidden"
            {{ stimulus_target('whatwedo/table-bundle/filter', 'filters') }}
        >
            <div
                class="absolute inset-0 overflow-hidden"
                {{ stimulus_target('whatwedo/table-bundle/filter', 'filtersOverlay') }}
            >
                <div
                    class="pointer-events-auto absolute inset-0 bg-neutral-500 bg-opacity-75 transition-opacity"
                    {{ stimulus_action('whatwedo/table-bundle/filter', 'close') }}
                    hidden
                ></div>
                <div
                    class="whatwedo_table:filter__inner pointer-events-auto fixed inset-y-0 right-0 pl-10 max-w-full flex transform transition ease-in-out duration-500 sm:duration-700 translate-x-full"
                    {{ stimulus_target('whatwedo/table-bundle/filter', 'filterspanel') }}
                >

                    <form action="{{ whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : 1 }) }}" class="w-screen max-w-3xl">
                        <div class="h-full flex flex-col py-6 bg-neutral-100 shadow-xl overflow-y-scroll">
                            <div class="px-4 sm:px-6">
                                <div class="flex items-start justify-between">
                                    <h2 class="text-lg font-medium text-neutral-900">
                                        {{ 'whatwedo_table.filter.filter' | trans }}
                                    </h2>

                                    <div class="ml-3 h-7 flex items-center">
                                        <button
                                            class="rounded-md text-neutral-400 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
                                            {{ stimulus_action('whatwedo/table-bundle/filter', 'close') }}
                                            type="button"
                                        >
                                            <span class="sr-only">Close panel</span>
                                            {{ bootstrap_icon('x', { class: 'h-6 w-6' }) }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6 relative flex-1">
                                <div class="px-4 sm:px-6" {{ stimulus_target('whatwedo/table-bundle/filter', 'filterGroupList') }}>
                                    {% for groupIndex, group in table.filterExtension.filterData %}
                                        {{ _self.filter_group(table, groupIndex, group) }}
                                    {% else %}
                                        {{ _self.filter_group(table, 0, []) }}
                                    {% endfor %}
                                </div>

                                <!-- Filter Mutations -->
                                <div class="mt-4 px-4 pb-4 sm:px-6 flex">
                                    <div class="flex-auto">
                                        <button
                                            class="px-2.5 py-1.5 border border-neutral-300 shadow-sm text-xs font-medium rounded text-neutral-700 bg-white hover:bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
                                            {{ stimulus_action('whatwedo/table-bundle/filter', 'appendOr') }}
                                            type="button"
                                        >
                                            {{ 'whatwedo_table.filter.or' | trans }}
                                        </button>
                                    </div>
                                    <div>
                                        <div class="relative inline-block text-left">
                                            <div>
                                                <button
                                                    class="inline-flex justify-center rounded-md border border-neutral-300 shadow-sm px-2.5 py-1.5 bg-white text-xs font-medium text-neutral-700 hover:bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-neutral-100 focus:ring-primary-500"
                                                    type="button"
                                                    {{ stimulus_action('whatwedo/table-bundle/filter', 'toggleDropdown') }}
                                                >
                                                    {{ 'whatwedo_table.filter.saved_filter' | trans }}
                                                    {{ bootstrap_icon('chevron-down', { class: '-mr-1 ml-2 h-4 w-4' }) }}
                                                </button>
                                            </div>

                                            <div
                                                class="hidden z-20 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-neutral-100 focus:outline-none"
                                                {{ stimulus_target('whatwedo/table-bundle/filter', 'dropdown') }}
                                                tabindex="-1"
                                            >
                                                <div class="py-1" role="none">
                                                    {% for filter in table.filterExtension.savedFilter(app.request.attributes.get('_route')) %}
                                                        {% set filter_href = path(filter.route, filter.arguments | merge(filter.conditions)) %}
                                                        <a href="{{ filter_href }}" class="text-neutral-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">{{ filter.name }}</a>
                                                    {% endfor %}
                                                </div>
                                                {% if app.request.query.has('index_filter_column') and app.request.query.has('index_filter_operator') and app.request.query.has('index_filter_value') %}
                                                    <div class="py-1" role="none">
                                                        <a
                                                            href="{{ path('whatwedo_crud_filter_create', {'filter_path' : app.request.attributes.get('_route')} | merge(app.request.query.all)) }}"
                                                            class="text-neutral-700 block w-full text-left px-4 py-2 text-sm"
                                                            role="menuitem" tabindex="-1" id="menu-item-3"
                                                        >
                                                            {{ bootstrap_icon('plus', { class: 'inline-block w-5 h-5' }) }}
                                                            {{ 'whatwedo_table.filter.create_new' | trans }}
                                                        </a>
                                                    </div>
                                                {% endif %}
                                                <div class="py-1" role="none">
                                                    <a
                                                        href="{{ path('whatwedo_crud_filter_index') }}"
                                                        class="text-neutral-700 block w-full text-left px-4 py-2 text-sm"
                                                        role="menuitem" tabindex="-1" id="menu-item-3"
                                                    >
                                                        {{ bootstrap_icon('list', { class: 'inline-block w-5 h-5' }) }}
                                                        {{ 'whatwedo_table.filter.overview' | trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex-auto text-right">
                                        <button {{ stimulus_action('whatwedo/table-bundle/filter', 'reset') }} type="reset" class="px-2.5 py-1.5 border border-neutral-300 shadow-sm text-xs font-medium rounded text-white bg-error-500 hover:bg-danger-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary">
                                            {{ 'whatwedo_table.filter.reset' | trans }}
                                        </button>
                                        <button type="submit" class="px-2.5 py-1.5 border border-neutral-300 shadow-sm text-xs font-medium rounded text-white bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary">
                                            {{ 'whatwedo_table.filter.apply' | trans }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
