{% if table.paginationExtension is not null %}
    {% set pageOffset = 5 %}
    {% set pagination = table.paginationExtension %}

    {% set paginationLinks = [] %}

    {# first/previous #}
    {% if pagination.currentPage > 1 %}
        {% set paginationLinks = paginationLinks|merge([{
            is_current: false,
            title: 'whatwedo_table.pagination.first_page'|trans,
            link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : 1 }),
            contents: bootstrap_icon('chevron-bar-left')
        }]) %}
        {% set paginationLinks = paginationLinks|merge([{
            is_current: false,
            title: 'whatwedo_table.pagination.previous_page'|trans,
            link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : pagination.currentPage - 1 }),
            contents: bootstrap_icon('chevron-left')
        }]) %}
    {% endif %}

    {# offset before current #}
    {% for i in pageOffset..1 %}
        {% set page = pagination.currentPage - i %}
        {% if page > 0 %}
            {% set paginationLinks = paginationLinks|merge([{
                is_current: false,
                title: 'whatwedo_table.pagination.page_num'|trans({'{page}': page}),
                link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : page }),
                contents: page
            }]) %}
        {% endif %}
    {% endfor %}

    {# current #}
    {% set paginationLinks = paginationLinks|merge([{
        is_current: true,
        title: 'whatwedo_table.pagination.current_page'|trans,
        link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : pagination.currentPage }),
        contents: pagination.currentPage
    }]) %}

    {# offset after current #}
    {% for i in 1..pageOffset %}
        {% set page = pagination.currentPage + i %}
        {% if page < ( pagination.totalPages + 1 ) %}
            {% set paginationLinks = paginationLinks|merge([{
                is_current: false,
                title: 'whatwedo_table.pagination.page_num'|trans({'{page}': page}),
                link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : page }),
                contents: page
            }]) %}
        {% endif %}
    {% endfor %}

    {# next/first #}
    {% if pagination.currentPage < pagination.totalPages %}
        {% set paginationLinks = paginationLinks|merge([{
            is_current: false,
            title: 'whatwedo_table.pagination.next_page'|trans,
            link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : pagination.currentPage + 1 }),
            contents: bootstrap_icon('chevron-right')
        }]) %}
        {% set paginationLinks = paginationLinks|merge([{
            is_current: false,
            title: 'whatwedo_table.pagination.last_page'|trans,
            link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : pagination.totalPages }),
            contents: bootstrap_icon('chevron-bar-right')
        }]) %}
    {% endif %}

    <footer class="whatwedo_table:footer w-full py-3 px-3 flex items-center justify-between">
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
                <p class="whatwedo-utility-paragraph inline-block">
                    {% set offsetResults = 0 %}
                    {% if table.rows|length %}{% set offsetResults = pagination.offsetResults + 1 %}{% endif %}

                    {{ 'whatwedo_table.foot.result'|trans({
                        '{offsetResults}': offsetResults,
                        '{offsetLength}': pagination.offsetResults + table.rows|length,
                        '{totalResults}': pagination.totalResults
                    }) }}
                    <span class="text-neutral-500 hidden" {{ stimulus_target('@whatwedo/table-bundle/table_select', 'selectedCount') }}>

                    </span>
                </p>

                <div
                    {{ stimulus_controller('whatwedo/core-bundle/dropdown') }}
                    class="whatwedo_table:footer__dropdown relative inline-block text-left pl-4"
                >
                    <button
                        class="whatwedo_table-button--pagination"
                        {{ stimulus_action('whatwedo/core-bundle/dropdown', 'toggle') | stimulus_action('whatwedo/core-bundle/dropdown', 'click@window', 'hide') }}
                        type="button"
                    >
                        {{ 'whatwedo_table.amount_entries'|trans({'{amount}': table.paginationExtension.limit}) }}
                        {{ bootstrap_icon('chevron-up', { class: 'inline w-5 h-5 pl-2' }) }}
                    </button>

                    <div
                        {{ stimulus_target('whatwedo/core-bundle/dropdown', 'menu') }}
                        class="z-50 hidden transition duration-300 transform origin-bottom-left absolute left-3 bottom-11 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                        data-transition-enter-from="opacity-0 scale-95"
                        data-transition-enter-to="opacity-100 scale-100"
                        data-transition-leave-from="opacity-100 scale-100"
                        data-transition-leave-to="opacity-0 scale-95"
                    >
                        <div class="py-1 whatwedo-utility-paragraph">
                            {% for limit in table.option('limit_choices')|filter(limit => limit != table.paginationExtension.limit) %}
                                <a class="block px-4 py-2 hover:bg-neutral-50"
                                   data-turbo-frame="whatwedo_table_{{ table.identifier }}"
                                   href="{{ whatwedo_table_path_replace_arguments({
                                    (whatwedo_table_parameter(table, 'limit')): limit,
                                    (whatwedo_table_parameter(table, 'page')): null
                                }) }}">
                                    {{- 'whatwedo_table.amount_entries'|trans({'{amount}': limit}) -}}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <nav class="whatwedo_table:footer__pagination relative z-0 inline-flex rounded-md shadow-sm -space-x-px whatwedo-utility-bold bg-white">
                    {% for link in paginationLinks %}
                        <a
                            data-turbo-frame="whatwedo_table_{{ table.identifier }}"
                            class="relative inline-flex items-center w-8 justify-center py-2 border border-neutral-300 transition-colors hover:bg-neutral-100 first:rounded-l-md last:rounded-r-md{% if link.is_current %} bg-neutral-200 font-medium{% endif %}"
                            href="{{ link.link }}"
                            title="{{ link.title }}"
                        >
                            {{ link.contents|raw }}
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </footer>
{% endif %}
