{% macro confirmationLink(action, attr, formAction = null) %}
    <div class="cursor-pointer"
        {{ stimulus_controller('araise/core-bundle/dropdown') }}
    >
        <a
            class="text-neutral-700 group flex items-center px-4 py-2 text-base hover:bg-neutral-100"
            tabindex="-1"
            {{ stimulus_action('araise/core-bundle/dropdown', 'toggle') }}
        >
            {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 text-neutral-400' }) }}
            {{ action.label|trans }}
        </a>
        <div
            {{ stimulus_target('araise/core-bundle/dropdown', 'menu') }}
            class="z-50 hidden transition duration-300 transform origin-top-left absolute left-0 -bottom-2 transform translate-y-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
            tabindex="-1"
        >
            <form
                class="whatwedo-core-action__confirmation whatwedo-core-action__confirmation--get flex items-center justify-between px-4 py-3"
                method="get"
                {% if formAction %}{{ formAction | raw }}{% else %}action="{{ path(action.route, action.routeParameters) }}"{% endif %}
            >
                <p class="whatwedo-utility-bold whitespace-nowrap mr-4">
                    {{ action.confirmation('label') | trans }}
                </p>

                <div class="flex space-x-2">
                    <button class="whatwedo-crud-button--action">
                        {{ action.confirmation('yes') | trans }}
                    </button>
                    <button
                        {{ stimulus_action('araise/core-bundle/dropdown', 'close') }}
                        class="whatwedo-crud-button--action-no-bg"
                        type="button"
                    >
                        {{ action.confirmation('no') | trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}
<div class="whatwedo_table-wrapper w-full overflow-x-auto align-middle inline-block min-w-full border-b border-neutral-200">
    <table
        class="min-w-full bg-white" {{ stimulus_target('araise/table-bundle/table', 'table') }} {{ stimulus_target('@araise/table-bundle/table_select', 'table') }}>
        {% if table.columns and table.getOption('content_visibility')['content_show_header'] %}
            <thead class="whatwedo_table-head">
            <tr class="border-b border-neutral-300 bg-neutral-200 text-base font-medium text-neutral-600 text-left tracking-wide">

                {% if table.rows is not empty and table.hasBatchActions() %}

                    <th class="px-3 py-3 w-14">
                        <button {{ stimulus_action('@araise/table-bundle/table_select', 'checkAll') }} {{ stimulus_target('@araise/table-bundle/table_select', 'checkAll') }}>{{ bootstrap_icon('check-square') }}</button>
                        <button {{ stimulus_action('@araise/table-bundle/table_select', 'unCheckAll') }} {{ stimulus_target('@araise/table-bundle/table_select', 'unCheckAll') }}
                            class="hidden">{{ bootstrap_icon('dash-square') }}
                        </button>

                        <span class="relative items-center" {{ stimulus_controller('araise/core-bundle/dropdown') }}>
                            <button
                                class="items-center justify-center hover:text-neutral-700"
                                {{ stimulus_action('araise/core-bundle/dropdown', 'toggle') |
                                stimulus_action('araise/core-bundle/dropdown', 'close', 'scroll@window') |
                                stimulus_action('araise/core-bundle/dropdown', 'layoutCalculate') |
                                stimulus_action('araise/core-bundle/dropdown', 'layoutCalculate', 'resize@window') }}
                                type="button"
                            >
                                <span class="sr-only">{{ 'araise_table.options' }}</span>
                                {{ bootstrap_icon('journals', { class: 'h-4 w-4', alt: 'Mass Actions'}) }}
                            </button>

                            <div
                                {{ stimulus_target('araise/core-bundle/dropdown', 'menu') }}
                                class="z-50 hidden transition duration-300 transform origin-top-right mx-3 origin-top-right absolute left-4 top-0 w-48 -mt-1 rounded-md shadow-lg z-10 bg-white ring-1 ring-black ring-opacity-5 divide-y divide-neutral-200 focus:outline-none"
                                data-transition-enter-from="opacity-0 scale-95"
                                data-transition-enter-to="opacity-100 scale-100"
                                data-transition-leave-from="opacity-100 scale-100"
                                data-transition-leave-to="opacity-0 scale-95"
                                tabindex="-1"
                            >
                                <div class="py-1" role="none">

                                    <span class="block">
                                        {% for batchAction in table.batchActions | filter(action => not action.getOption('voter_attribute') or is_granted(action.getOption('voter_attribute'), action)) %}
                                            {% if batchAction.hasConfirmation() %}
                                                {{ _self.confirmationLink(batchAction, {}, stimulus_action('@araise/table-bundle/table_select', 'doAction') ~ ' href="' ~ path(batchAction.route, batchAction.routeParameters) ~ '"') }}
                                            {% else %}
                                                <a
                                                    href="{{ path(batchAction.route, batchAction.routeParameters) }}"
                                                    class="text-neutral-700 group flex items-center px-4 py-2 text-base hover:bg-neutral-100"
                                                    tabindex="-1"
                                                    {{ stimulus_action('@araise/table-bundle/table_select', 'doAction') }}
                                                >
                                                    {{ bootstrap_icon(batchAction.icon, { class: 'inline mr-3 h-5 w-5 text-neutral-400 hover:text-neutral-50' }) }}
                                                    {{ batchAction.label|trans }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </span>

                                </div>
                            </div>
                        </span>

                    </th>
                {% endif %}
                {% for column in table.columns %}
                    <th class="px-3 py-3 align-top whitespace-nowrap">
                        {{ column.option('label_html')|raw }} {{ column.option('label')|trans }}

                        {% if table.option('sortable') and table.sortExtension and column.option('sortable') %}
                            {% set currentOrder = table.sortExtension.order(column) %}
                            {% if currentOrder == 'asc' %}
                                <a class="first:ml-1"
                                   href="{{ araise_table_path_replace_arguments(araise_table_column_sort_parameters(column, 'desc')) }}">
                                    {{ bootstrap_icon('sort-alpha-up', { class: 'inline w-4 h-4' }) }}
                                </a>
                                <a class="first:ml-1"
                                   href="{{ araise_table_path_replace_arguments(araise_table_column_sort_parameters(column, null)) }}">
                                    {{ bootstrap_icon('x', { class: 'inline w-4 h-4' }) }}
                                </a>
                            {% elseif currentOrder == 'desc' %}
                                <a class="first:ml-1"
                                   href="{{ araise_table_path_replace_arguments(araise_table_column_sort_parameters(column, 'asc')) }}">
                                    {{ bootstrap_icon('sort-alpha-down-alt', { class: 'inline w-4 h-4' }) }}
                                </a>
                                <a class="first:ml-1"
                                   href="{{ araise_table_path_replace_arguments(araise_table_column_sort_parameters(column, null)) }}">
                                    {{ bootstrap_icon('x', { class: 'inline w-4 h-4' }) }}
                                </a>
                            {% else %}
                                <a class="first:ml-1"
                                   href="{{ araise_table_path_replace_arguments(araise_table_column_sort_parameters(column, 'asc')) }}">
                                    {{ bootstrap_icon('arrow-down-up', { class: 'inline w-4 h-4' }) }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </th>
                {% endfor %}
                {% if table.actions|length %}
                    <th></th>
                {% endif %}

            </tr>
            </thead>
        {% endif %}
        <tbody
            class="whatwedo_table-body bg-white whatwedo-utility-paragraph text-neutral-900 divide-y divide-neutral-300"
            {{ stimulus_controller('araise/table-bundle/accordion') }}
        >
        {% if table.rows is empty %}
            <tr class="whatwedo_table-row hover:bg-neutral-100 transition duration-500 color">
                <td class="px-3 py-2 font-normal" colspan="{{ table.columns|length + (table.actions|length ? 1 : 0) }}">
                    {{ 'araise_table.no_elements' | trans }}
                </td>
            </tr>
        {% endif %}
        {% for row in table.rows %}
            {% set subTables = table.getSubTables(row) %}
            {% set subTableStimulusAction = subTables ? stimulus_action('araise/table-bundle/accordion', 'toggle', 'click') : '' %}
            <tr class="whatwedo_table-row hover:bg-neutral-100 transition duration-500 color align-top"
                {{ subTableStimulusAction }}
                aria-expanded="false"
            >
                {% if table.hasBatchActions() and table.getOption('content_visibility')['content_show_header'] %}
                    <td class="px-6 py-2">
                        <input
                            class="cursor-pointer"
                            type="checkbox" {{ stimulus_target('@araise/table-bundle/table_select', 'selector') }} {{ stimulus_action('@araise/table-bundle/table_select', 'selectId') }}
                            data-entity-id="{{ row.id }}">
                    </td>
                {% endif %}
                {% for column in table.columns %}
                    <td class="px-3 py-2{% if subTables %} font-semibold cursor-pointer{% endif %}{% if column.option('link_the_column_content') %} whitespace-nowrap{% endif %}"
                        {% if row|araise_entity_is_tree and row.level != 0 %}
                            style="padding-left: {{ row.level*50 }}px"
                        {% endif %}
                    >
                        {% apply spaceless %}
                            {% if loop.first and subTables %}
                                <svg
                                    {{ stimulus_target('araise/table-bundle/accordion', 'arrow') }}
                                    class="inline-block align-baseline cursor-pointer h-2.5 w-2.5 text-neutral-600 mr-2"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 8.836 14.036"
                                >
                                    <path id="arrow-right" d="M27.65,1.333a.718.718,0,0,1,0-1.1.97.97,0,0,1,1.251,0l7.067,6.238a.717.717,0,0,1,0,1.1L28.9,13.808a.97.97,0,0,1-1.251,0,.718.718,0,0,1,0-1.1l6.487-5.685Z" transform="translate(-27.391)" fill="#4b5563" fill-rule="evenodd"/>
                                </svg>
                            {% endif %}

                            {% if column.option('link_the_column_content') and table.option('primary_link') is not null %}
                                {% set columnLink = table.primaryLink(row) and not subTables %}
                                {% if columnLink %}
                                    <a class="whatwedo-utility-link" href="{{ table.primaryLink(row) }}">
                                {% endif %}
                            {% endif %}
                        {% endapply %}
                        {{ araise_table_column_render(column, row) }}
                        {% if column.option('link_the_column_content') and columnLink|default(false) %}</a>{% endif %}
                    </td>
                {% endfor %}
                {% set tableActions = table.actions | filter(action => not action.getOption('voter_attribute') or is_granted(action.getOption('voter_attribute'), row)) %}
                {% if tableActions|length %}
                    <td class="whatwedo_table-actions pr-6 align-top">

                        <div
                            class="relative flex justify-end items-center" {{ stimulus_controller('araise/core-bundle/dropdown') }}>
                            <button
                                class="whatwedo_table-actions-button"
                                {{ stimulus_action('araise/core-bundle/dropdown', 'toggle') |
                                stimulus_action('araise/core-bundle/dropdown', 'close', 'scroll@window') |
                                stimulus_action('araise/core-bundle/dropdown', 'layoutCalculate') |
                                stimulus_action('araise/core-bundle/dropdown', 'layoutCalculate', 'resize@window') }}
                                type="button"
                            >
                                <span class="sr-only">Optionen</span>
                                {{ bootstrap_icon('three-dots-vertical', { class: 'h-4 w-4' }) }}
                            </button>

                            <div
                                {{ stimulus_target('araise/core-bundle/dropdown', 'menu') }}
                                class="z-50 hidden transition duration-300 origin-top-right mx-3 origin-top-right absolute right-7 top-0 -translate-x-1 w-48 -mt-1 rounded-md shadow-lg z-10 bg-white ring-1 ring-black ring-opacity-5 divide-y divide-neutral-200 focus:outline-none"
                                data-transition-enter-from="opacity-0 scale-95"
                                data-transition-enter-to="opacity-100 scale-100"
                                data-transition-leave-from="opacity-100 scale-100"
                                data-transition-leave-to="opacity-0 scale-95"
                                tabindex="-1"
                            >
                                <div class="py-1" role="none">
                                    {% for action in tableActions %}
                                        <span class="block">
                                            {{ araise_table_action_render(action, row) }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% for subTable in subTables %}
                <tr
                    class="whatwedo_table-subtable hidden"
                    {{ stimulus_target('araise/table-bundle/accordion', 'content') }}
                >
                    <td colspan="{{ table.getColspan(tableActions|length > 0 ? 1 : 0) }}">
                        {% with {'table':subTable} only %}{{ araise_table_only_render(table) }}{% endwith %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
