{% for row in table.rows %}
    <tr{% if table.rowRoute %} data-href="{{ path(table.rowRoute, { id: row.data.id }) }}"{% endif %}>
        {% for column in row %}
            <td class="{{ column.column.tdClass }}"
                {% if table.queryBuilder is null and column.column.sortableColumn and column.column.sortable %}
                    data-order="{{ column.getOrderValue(row) }}"
                {% endif %}
            >
                {{ table.mark(column) | raw }}
            </td>
        {% endfor %}
    </tr>
{% else %}
    <tr>
        <td
            colspan="{{ table.columns|length + 1 }}"
            class="text-center"
        >
            <em>Keine Resultate gefunden</em>
        </td>
    </tr>
{% endfor %}
