{% import _self as whatwedo_table_filters %}

{% macro filter(table, groupIndex, index, column, operator, value) %}
    {# @var table \whatwedo\TableBundle\Table\Table #}

    {% set tableFilters = table.filterExtension.filters %}
    {% set filter = tableFilters[column] %}

    {% if filter %}

    {% set indexSuffix = '[' ~ groupIndex ~ '][' ~ index ~ ']' %}
    <div class="whatwedo_table__filters__block">
        <div class="whatwedo_table__filters_filter row">
            <div class="col-xs-4">
                <select name="{{ table.actionQueryParameter('filter_column') }}{{ indexSuffix }}" class="form-control">
                    {% for f in tableFilters %}
                        <option
                            value="{{ f.acronym }}"
                            data-operator-options="{{ f.type.operators|json_encode }}"
                            data-value-template="{{ f.type.valueField|raw|e }}"
                            class="form-control"
                            {% if filter.acronym == f.acronym %}selected="selected"{% endif %}
                        >
                            {{ f.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-3">
                <select name="{{ table.actionQueryParameter('filter_operator') ~ indexSuffix }}" class="form-control">
                    {% for key, name in filter.type.operators %}
                        <option value="{{ key }}"{% if operator == key %} selected="selected"{% endif %}>
                            {{ name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-4">
                {{ filter.type.valueField(value)|replace({
                    '{name}': (table.actionQueryParameter('filter_value') ~ indexSuffix)
                })|raw }}
            </div>
            <div class="col-xs-1 text-right">
                <div class="btn-group btn-group-xs" role="group">
                    <button class="btn btn-default" data-filter-action="add-and">und</button>
                    <button class="btn btn-danger" data-filter-action="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endmacro %}

{# @var table \whatwedo\TableBundle\Table\Table #}
{% if table.filterExtension.filters|default([]) is not empty %}
    {% set app_username = app.user.username|default(null) %}

    {% set filterData = table.filterExtension.filterData %}
    {% set filterRoute = whatwedo_table_generate_route_replace_arguments({ (table.actionQueryParameter('page')): 1, (table.actionQueryParameter('limit')): (table.paginationExtension.limit|default(-1)) }) %}

    {% set savedFilters %}
        <table id="whatwedo_table__{{ table.identifier }}__saved_filters" class="whatwedo_table__saved_filters table">
            <tbody>
            {% for filter in table.filterExtension.savedFilter(app_username, app.request.attributes.get('_route')) %}
                {% set filter_href = path(filter.route, filter.arguments | merge(filter.conditions)) %}
                {% set isCreator = app_username == filter.creatorUsername %}
                <tr data-href="{{ filter_href }}">
                    <td>
                        <i class="fa fa-{{ filter.stateIcon }}" data-toggle="toolip" title="{{ filter.stateAsString }}"></i> {{ filter.name }}
                        <br/>
                        <small>{{ filter.description }}</small>
                    </td>
                    <td>
                        {% if isCreator %}
                        <form method="post" action="{{ path('whatwedo_table_filter_direct_delete', {'id' : filter.id, 'token': csrf_token('token') }) }}">
                        {% endif %}
                        <div class="btn-group" role="group" style="white-space: nowrap;">
                            {% spaceless %}
                            <a href="{{ filter_href }}" class="btn btn-primary btn-xs" title="" data-original-title="Aktiviere Filter" style="float: none;">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                            {% if isCreator %}
                            <button class="btn btn-danger btn-xs" title="" data-original-title="Filter Löschen" style="float: none;">
                                <i class="fa fa-trash"></i>
                            </button>
                            {% endif %}
                            {% endspaceless %}
                        </div>
                        {% if isCreator %}
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endset %}

    {% set popoverTemplate %}
        <div class="popover" style="max-width: 600px;">
            <div class="arrow"></div>
            <div class="popover-inner">
                <h3 class="popover-title"></h3>
                <div class="popover-content">
                    <p></p>
                </div>
            </div>
        </div>
    {% endset %}

    <form action="{{ filterRoute }}" class="whatwedo_table__filters {% if filterData %}active{% endif %} well" data-ajax-url="{{ path('whatwedo_table_filter_load_relation_filter') }}">

        <div class="row">
            <div class="col-sm-9" style="border-right: 1px solid #e0e0e0;">
                {% for group in filterData %}
                    <div class="whatwedo_table__filters__blocks">
                        {% if not loop.first %}
                            <p>
                                <strong>oder</strong>
                            </p>
                        {% endif %}
                        {% for column, data in group %}
                            {% if table.filterExtension.filters[column] is defined %}
                                {{ whatwedo_table_filters.filter(
                                    table,
                                    loop.parent.loop.index,
                                    loop.index,
                                    column,
                                    data.operator,
                                    data.value ?: ''
                                ) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="whatwedo_table__filters__blocks">
                {{ whatwedo_table_filters.filter(table, 0, 0, table.filterExtension.filters|keys|first) }}
            </div>
                {% endfor %}

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn-default btn btn-xs" data-filter-action="add-or">Oder</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 text-right">
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-justified" role="group">
                            {% if table.filterExtension.savedFilter(app_username, app.request.attributes.get('_route')) is not empty %}
                                <div class="btn-group">
                                    {# onclick="$('#whatwedo_table__{{ table.identifier }}__saved_filters').toggle()" #}
                                    <button type="button" class="btn btn-default" data-toggle="popover" data-container="body" data-content="{{ savedFilters|raw|e }}" data-html="true" data-placement="bottom" title="Gespeicherte Filter" data-template="{{ popoverTemplate|raw|e }}">
                                        <i class="fa fa-list"></i>
                                        Laden
                                    </button>
                                </div>
                            {% endif %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#whatwedo_table__filters__save__{{ table.identifier }}">
                                    <i class="fa fa-floppy-o"></i>
                                    Speichern
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group">
                                <button class="whatwedo_table__reset_filter btn btn-danger" type="submit">
                                    <i class="fa fa-times"></i>
                                    Zurücksetzen
                                </button>
                            </div>
                            <div class="btn-group">
                                <button class="whatwedo_table__show_results btn btn-primary" type="submit">
                                    <i class="fa fa-arrow-right"></i>
                                    Anwenden
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Speicher-Modal -->
    <div class="modal fade whatwedo_table__filters__save" id="whatwedo_table__filters__save__{{ table.identifier }}" tabindex="-1" role="dialog">
        <form class="whatwedo_table__save" method="post" action="{{ path('whatwedo_table_filter_direct_create') }}">
            <input type="hidden" name="filter_route" value="{{ app.request.attributes.get('_route') }}" />
            <input type="hidden" name="filter_route_arguments" value="{{ app.request.attributes.get('_route_params') | json_encode }}" />
            <input type="hidden" name="filter_conditions" value="" />
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Schliessen"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Filter als Abfrage speichern</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="filter_name" class="form-control" max="50">
                        </div>
                        <div class="form-group">
                            <label>Beschreibung</label>
                            <input type="text" name="filter_description" class="form-control" max="256">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="filter_public" value="1"> Öffentlich
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                            Schliessen
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-floppy-o"></i>
                            Speichern
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/template" id="whatwedo_table__{{ table.identifier }}__filters__template__block">
        {{ whatwedo_table_filters.filter(table, '{iBlock}', '{i}', table.filterExtension.filters|keys|first) }}
    </script>

{% endif %}
