{# @var table \whatwedo\TableBundle\Table\Table #}
<tr>
    {% for key, column in table.columns %}
        {% set columnSortOrder = table.getSortOrder(column) %}

        <th{% if columnSortOrder %} class="sorted"{% endif %}>
            <nobr>
                {{ column.label }}
                {% if table.sortable and column.sortableColumn and column.isSortable %}
                    &nbsp;
                    {% if columnSortOrder == 'ASC' %}
                        <a href="{{ column.orderQueryDESC(app.request.query) }}"><i class="fa fa-sort-asc"></i></a>
                    {% else %}
                        <a href="{{ column.orderQueryASC(app.request.query) }}"><i class="fa fa-sort{{ columnSortOrder ? '-desc' }}"></i></a>
                    {% endif %}

                    {% if columnSortOrder and not table.defaultSort %}
                        <a href="{{ column.deleteOrder(app.request.query) }}"><i class="fa fa-times"></i></a>
                    {% endif %}
                {% endif %}
            </nobr>
        </th>
    {% endfor %}
</tr>
