{% set currentRoute = app.request.attributes.get('_route') %}
{% set currentQuery = app.request.query %}

<tr>
    {% for key, column in table.columns %}
        <th
            {% if table.queryBuilder is not null and column.sortableColumn and (column.ordered(app.request.query, 'ASC') or column.ordered(app.request.query, 'DESC')) %}
                class="sorted"
            {% endif %}
        >
            <nobr>
                {{ column.label }}
                {# we do not allow server ordering for RelationContent #}
                {% if table.queryBuilder is not null %}
                    {% if column.sortableColumn and column.isSortable %}
                        &nbsp;
                        {% if column.ordered(app.request.query, 'ASC') %}
                            <a class="table-sort-asc" href="{{ column.orderQueryDESC(app.request.query) }}"><i class="fa fa-sort-asc"></i></a>
                            <a class="table-sort-neither-asc-desc" href="{{ column.deleteOrder(app.request.query) }}"><i class="fa fa-times"></i></a>
                        {% elseif column.ordered(app.request.query, 'DESC') %}
                            <a class="table-sort-asc" href="{{ column.orderQueryASC(app.request.query) }}"><i class="fa fa-sort-desc"></i></a>
                            <a class="table-sort-neither-asc-desc" href="{{ column.deleteOrder(app.request.query) }}"><i class="fa fa-times"></i></a>
                        {% else %}
                            <a class="table-sort-asc" href="{{ column.orderQueryASC(app.request.query) }}"><i class="fa fa-sort"></i></a>
                        {% endif %}
                    {% endif %}
                {% elseif table.rows.count > 0 %}
                    <i class="fa fa-sort-asc show-asc"></i>
                    <i class="fa fa-sort-desc show-desc"></i>
                    <i class="fa fa-sort show-neither-asc-desc"></i>
                {% endif %}
            </nobr>
        </th>
    {% endfor %}
</tr>
