{% for row in table.rows %}
    {% set showRoute = table.getShowRoute(row.data) %}
    <tr{% if showRoute %} data-href="{{ path(showRoute, { id: row.data.id }) }}"{% endif %}>
        {% for column in row %}
            <td class="{{ column.column.tdClass }}">
                {{ column|raw }}
            </td>
        {% endfor %}
    </tr>
{% else %}
    <tr class="whatwedo_table_inner-no_results_row">
        <td
            colspan="{{ table.columns|length + 1 }}"
            class="text-center">
            <em>{{ 'araise_table.no_results'|trans }}</em>
        </td>
    </tr>
{% endfor %}
