{% macro attributes(attr) %}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endmacro attributes %}

{% macro tableExportButton(table) %}
    {% if table.exportRoute %}
        <div class="btn-group btn-group-sm dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data- aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-download"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">{{ 'araise_table.search.export'|trans }}</li>
                <li>
                    <a href="{{ path(table.exportRoute, app.request.query.all|merge(table.exportRouteParameters)) }}">
                        {{ 'araise_table.search.actual'|trans({'%current_page%': table.paginationExtension.currentPage}) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path(table.exportRoute, app.request.query.all|merge({(table.actionQueryParameter('page')): 1, (table.actionQueryParameter('limit')): -1})|merge(table.exportRouteParameters)) }}">
                        {{ 'araise_table.search.all_pages'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path(table.exportRoute, {(table.actionQueryParameter('page')): 1, (table.actionQueryParameter('limit')): -1}|merge(table.exportRouteParameters)) }}">
                        {{ 'araise_table.search.all'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endmacro %}
