{% import "@whatwedoTable/_macros.html.twig" as macros %}

{% block table %}
    <div class="whatwedo_table:wrapper bg-white" {{ stimulus_controller('whatwedo/table-bundle/filter') }}>
         {% block table_filter %}
            {% include "@whatwedoTable/tailwind_2/_filter.html.twig" %}
        {% endblock %}

        <div {{ stimulus_controller('@whatwedo/table-bundle/table_select') }}>
            <turbo-frame id="whatwedo_table_{{ table.identifier }}" data-turbo="true" target="_top" {{ stimulus_action('@whatwedo/table-bundle/table_select', 'tableTargetChanged', 'turbo:frame-load') }}>
                {% block table_table %}
                    {% include "@whatwedoTable/tailwind_2/_table.html.twig" %}
                {% endblock %}

                {% block table_pagination %}
                    {% include "@whatwedoTable/tailwind_2/_pagination.html.twig" %}
                {% endblock %}
            </turbo-frame>
            {%  if table.getOption('definition').hasCapability(constant('whatwedo\\CrudBundle\\Enum\\Page::BATCH')) %}
            <input name="ids" type="text" {{ stimulus_target('@whatwedo/table-bundle/table_select', 'ids') }} value="[]">
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block table_action %}
    {# todo: add attributes #}
    {# todo: move to options instead of vars #}
    <a
        href="{{ path(action.route, action.routeParameters(entity)) }}"
        class="text-neutral-700 group flex items-center px-4 py-2 text-sm"
        tabindex="-1"
    >
        {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 text-neutral-400 group-hover:text-neutral-500' }) }}
        {{ action.label|trans }}
    </a>
{% endblock %}
