{% block table %}
    <div class="whatwedo_table:wrapper" {{ stimulus_controller('araise/table-bundle/filter') }}>
         {% block table_filter %}
            {% include "@araiseTable/tailwind_2/_filter.html.twig" %}
        {% endblock %}

        <div {{ stimulus_controller(
            '@araise/table-bundle/table_select', {
                'footSelectedTemplate': '<br>' ~ ('araise_table.foot.selected'|trans({
                    '{count}': '{count}',
                }))
            }) }}
        >
            <turbo-frame id="whatwedo_table_{{ table.identifier }}" data-turbo="{{ araise_table_turbo_enabled ? 'true' : 'false' }}" target="_top" {{ stimulus_action('@araise/table-bundle/table_select', 'tableTargetChanged', 'turbo:frame-load') }}>
                {% block table_header %}
                    {% include "@araiseTable/tailwind_2/_header.html.twig" %}
                {% endblock %}

                {% block table_table %}
                    {% include "@araiseTable/tailwind_2/_table.html.twig" %}
                {% endblock %}

                {% block table_pagination %}
                    {% include "@araiseTable/tailwind_2/_pagination.html.twig" %}
                {% endblock %}
            </turbo-frame>
            {%  if table.hasBatchActions() %}
            <input name="ids" type="hidden" {{ stimulus_target('@araise/table-bundle/table_select', 'ids') }} value="[]">
            {% endif %}
        </div>
    </div>

{% endblock %}

{% use '@araiseCore/includes/_action.html.twig' %}

{% block action %}
    {% if action.hasConfirmation() %}
        <div
            {{ stimulus_controller('araise/core-bundle/dropdown') }}
            class="relative block"
        >
            <button
                {{ action.option('attr')|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
                {{ stimulus_action('araise/core-bundle/dropdown', 'toggle') }}
                class="text-neutral-700 font-bold group flex items-center px-4 py-2 text-base" tabindex="-1"
            >
                {% if action.option('icon') %}
                    {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 group-hover:text-neutral-500' }) }}
                {% endif %}
                {{ action.label|trans }}
            </button>
            <div
                {{ stimulus_target('araise/core-bundle/dropdown', 'menu') }}
                class="z-50 hidden transition duration-300 transform origin-top-right absolute right-0 -bottom-3 transform translate-y-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
                data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
                tabindex="-1"
            >
                <form
                    class="flex items-center justify-between px-4 py-3"
                    method="get" action="{{ path(action.route, action.routeParameters(entity)) }}">
                    <p class="whatwedo-utility-bold whitespace-nowrap mr-4">
                        {{ action.confirmation('label') | trans }}
                    </p>

                    <div class="flex space-x-2">
                        <button class="whatwedo-crud-button--action-danger">
                            {{ action.confirmation('yes') | trans }}
                        </button>
                        <button
                            {{ stimulus_action('araise/core-bundle/dropdown', 'close') }}
                            class="whatwedo-crud-button--action-no-bg"
                            type="button"
                        >
                            {{ action.confirmation('no') | trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <a
            href="{{ path(action.route, action.routeParameters(entity)) }}"
            class="whatwedo-utility-bold group flex items-center px-4 py-2 hover:bg-neutral-200 transition-colors"
            tabindex="-1"
            {{ action.option('attr')|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
        >
            {% if action.option('icon') %}
                {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 text-neutral-400 group-hover:text-neutral-500' }) }}
            {% endif %}
            {{ action.label|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block table_action %}
    {# @var action \araise\CrudBundle\Action\TableAction #}
    {% if not attribute(action, 'visibility') is defined or action.visibility(entity) %}
        {% if action.hasConfirmation() %}
            <div
                {{ stimulus_controller('araise/core-bundle/dropdown') }}
                class="relative block"
            >
                <button
                    {{ action.option('attr')|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
                    {{ stimulus_action('araise/core-bundle/dropdown', 'toggle') }}
                    class="text-neutral-700 font-bold group flex items-center px-4 py-2 text-base" tabindex="-1"
                >
                    {% if action.option('icon') %}
                        {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 text-neutral-400 group-hover:text-neutral-500' }) }}
                    {% endif %}
                    {{ action.label|trans }}
                </button>
                <div
                    {{ stimulus_target('araise/core-bundle/dropdown', 'menu') }}
                    class="z-50 hidden transition duration-300 transform origin-top-right absolute right-0 -bottom-3 transform translate-y-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
                    data-transition-enter-from="opacity-0 scale-95"
                    data-transition-enter-to="opacity-100 scale-100"
                    data-transition-leave-from="opacity-100 scale-100"
                    data-transition-leave-to="opacity-0 scale-95"
                    tabindex="-1"
                >
                    <form
                        class="flex items-center justify-between px-4 py-3"
                        method="get" action="{{ path(action.route, action.routeParameters(entity)) }}">
                        <p class="whatwedo-utility-bold whitespace-nowrap mr-4">
                            {{ action.confirmation('label') | trans }}
                        </p>

                        <div class="flex space-x-2">
                            <button class="whatwedo-crud-button--action-danger">
                                {{ action.confirmation('yes') | trans }}
                            </button>
                            <button
                                {{ stimulus_action('araise/core-bundle/dropdown', 'close') }}
                                class="whatwedo-crud-button--action-no-bg"
                                type="button"
                            >
                                {{ action.confirmation('no') | trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <a
                href="{{ path(action.route, action.routeParameters(entity)) }}"
                class="whatwedo-utility-bold group flex items-center px-4 py-2 hover:bg-neutral-200 transition-colors"
                tabindex="-1"
                {{ action.option('attr')|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
            >
                {% if action.option('icon') %}
                    {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 text-neutral-400 group-hover:text-neutral-500' }) }}
                {% endif %}
                {{ action.label|trans }}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block post_action %}
    {% if action.hasConfirmation() %}
        <div
            {{ stimulus_controller('araise/core-bundle/dropdown') }}
            class="relative"
        >
            <button
                {{ action.option('attr')|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
                {{ stimulus_action('araise/core-bundle/dropdown', 'toggle') }}
                class="whatwedo-utility-bold group flex items-center px-4 py-2 w-full hover:bg-neutral-200 transition-colors" tabindex="-1"
            >
                {% if action.option('icon') %}
                    {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 text-neutral-400 group-hover:text-neutral-500' }) }}
                {% endif %}
                {{ action.label|trans }}
            </button>
            <div
                {{ stimulus_target('araise/core-bundle/dropdown', 'menu') }}
                class="z-50 hidden transition duration-300 transform origin-top-right absolute right-0 bottom-0 right-full mr-2 -mb-1 bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
                data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
                tabindex="-1"
            >
                <form
                    class="flex items-center justify-between px-4 py-3"
                    method="post" action="{{ path(action.route, action.routeParameters(entity)) }}">

                    <p class="whatwedo-utility-bold whitespace-nowrap mr-4">
                        {{ action.confirmation('label') | trans }}
                    </p>

                    <div class="flex space-x-2">
                        <button class="whatwedo-crud-button--action-danger">
                            {{ action.confirmation('yes') | trans }}
                        </button>
                        <button
                            {{ stimulus_action('araise/core-bundle/dropdown', 'close') }}
                            class="whatwedo-crud-button--action-no-bg"
                            type="button"
                        >
                            {{ action.confirmation('no') | trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="relative block">
            <form
                class="flex items-center justify-between"
                method="post" action="{{ path(action.route, action.routeParameters(entity)) }}">
                <div>
                    <button
                        {{ action.option('attr')|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
                        class="whatwedo-utility-bold group flex items-center px-4 py-2" tabindex="-1"
                    >
                        {% if action.option('icon') %}
                            {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 text-neutral-400 group-hover:text-neutral-500' }) }}
                        {% endif %}
                        {{ action.label|trans }}
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block modal_action %}
    {# @var action \araise\CrudBundle\Action\Action #}
    <span
        class="ml-3 mb-3"
        {{ stimulus_controller('araise/core-bundle/modal-form', { formUrl: path(action.option('route'), action.option('route_parameters')) }) }}
    >
        <button
            type="button"
            class="whatwedo-utility-bold group flex items-center px-4 py-2 ml-0"
            tabindex="-1"
            {{ action.option('attr')|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
            {{ stimulus_action('araise/core-bundle/modal-form', 'openModal') }}
        >
            {% if action.option('icon') %}
                {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 group-hover:text-neutral-500' }) }}
            {% endif %}
            {{ action.option('label')|trans }}
        </button>

        <div
                {{ stimulus_target('araise/core-bundle/modal-form', 'menu') }}
                class="hidden whatwedo-crud-modal whatwedo-utility-modal"
                data-transition-enter-from="opacity-0"
                data-transition-enter-to="opacity-100"
                data-transition-leave-from="opacity-100"
                data-transition-leave-to="opacity-0"
                role="dialog"
                aria-modal="true"
        >
            <div class="whatwedo-crud-modal__overlay whatwedo-utility-modal__overlay">
                <div
                    class="whatwedo-crud-modal__backdrop whatwedo-utility-modal__backdrop"
                    {{ stimulus_action('araise/core-bundle/modal-form', 'close', 'click') }}
                ></div>

                {# This element is to trick the browser into centering the modal contents. #}
                <span class="hidden md:inline-block md:align-middle md:h-screen" aria-hidden="true">&#8203;</span>

                <div class="whatwedo-crud-modal__wrapper whatwedo-utility-modal__wrapper">
                    <div class="whatwedo-utility-modal__wrapper-inner">
                        <button
                            type="button"
                            class="whatwedo-crud-modal__close whatwedo-utility-modal__close"
                            {{ stimulus_action('araise/core-bundle/modal-form', 'close') | stimulus_action('araise/core-bundle/modal-form', 'close', 'keydown.esc@window') }}
                        >
                            <span class="sr-only">Close</span>
                            {{ bootstrap_icon('x', { class: 'inline w-8 h-8' }) }}
                        </button>
                    </div>
                    <div
                        class="whatwedo-crud-modal__body w-full"
                        {{ stimulus_target('araise/core-bundle/modal-form', 'modalBody') }}
                    ></div>
                </div>
            </div>
        </div>
    </span>
{% endblock %}
