{# Table Header #}
<header class="whatwedo_table:header border-b border-neutral-200 px-4 py-4 sm:flex sm:items-center sm:justify-between">
    <div class="whatwedo_table:header__title flex-1 min-w-0 text-lg font-medium leading-6 text-neutral-900 sm:truncate">
        {% if table.option('title') %}
            <h1>
                {{ table.option('title')|trans }}
            </h1>
        {% endif %}
    </div>
    <div class="mt-4 flex sm:mt-0 sm:ml-4">
        <button
            class="whatwedo_table:header__button whatwedo_table:header__button--download whatwedo_table-button"
            type="button"
        >
            {{ bootstrap_icon('download', { class: 'w-4 h-4' }) }}
        </button>

        {% if table.filterExtension and table.filterExtension.filters|length > 0 %}
        <button
            class="whatwedo_table:header__button whatwedo_table:header__button--filter whatwedo_table-button"
            type="button"
            {{ stimulus_action('whatwedo/table-bundle/filter', 'open') }}
        >
            {{ bootstrap_icon('funnel-fill', { class: 'w-4 h-4' }) }}
        </button>
        {% endif %}

        {% if table.searchExtension and table.option('searchable') %}
        <form
            action="{{ whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : 1 }) }}"
            class="whatwedo_table:header__search inline-flex items-center px-3 ml-2"
        >
            <div class="flex rounded-md shadow-sm">
                <div class="relative flex items-stretch flex-grow focus-within:z-10">
                    <input
                        class="whatwedo_core-input--rounded-left"
                        type="search"
                        name="{{ whatwedo_table_parameter(table, 'query') }}" placeholder="Suchbegriff ..."
                        value="{{ table.searchExtension.query }}"
                    >
                </div>
                <button class="whatwedo_table-button--search" type="submit">
                    {{ bootstrap_icon('search', { class: 'h-4 w-4 text-neutral-400', alt: 'Suchen' }) }}
                </button>
            </div>
        </form>
        {% endif %}
    </div>
</header>
