{% if table.paginationExtension is not null %}
    {% set pageOffset = 5 %}
    {% set pagination = table.paginationExtension %}

    {% set paginationLinks = [] %}

    {# first/previous #}
    {% if pagination.currentPage > 1 %}
        {% set paginationLinks = paginationLinks|merge([{
            is_current: false,
            title: 'whatwedo_table.pagination.first_page'|trans,
            link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : 1 }),
            contents: bootstrap_icon('chevron-bar-left')
        }]) %}
        {% set paginationLinks = paginationLinks|merge([{
            is_current: false,
            title: 'whatwedo_table.pagination.previous_page'|trans,
            link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : pagination.currentPage - 1 }),
            contents: bootstrap_icon('chevron-left')
        }]) %}
    {% endif %}

    {# offset before current #}
    {% for i in pageOffset..1 %}
        {% set page = pagination.currentPage - i %}
        {% if page > 0 %}
            {% set paginationLinks = paginationLinks|merge([{
                is_current: false,
                title: 'whatwedo_table.pagination.page_num'|trans({'{page}': page}),
                link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : page }),
                contents: page
            }]) %}
        {% endif %}
    {% endfor %}

    {# current #}
    {% set paginationLinks = paginationLinks|merge([{
        is_current: true,
        title: 'whatwedo_table.pagination.current_page'|trans,
        link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : pagination.currentPage }),
        contents: pagination.currentPage
    }]) %}

    {# offset after current #}
    {% for i in 1..pageOffset %}
        {% set page = pagination.currentPage + i %}
        {% if page < ( pagination.totalPages + 1 ) %}
            {% set paginationLinks = paginationLinks|merge([{
                is_current: false,
                title: 'whatwedo_table.pagination.page_num'|trans({'{page}': page}),
                link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : page }),
                contents: page
            }]) %}
        {% endif %}
    {% endfor %}

    {# next/first #}
    {% if pagination.currentPage < pagination.totalPages %}
        {% set paginationLinks = paginationLinks|merge([{
            is_current: false,
            title: 'whatwedo_table.pagination.next_page'|trans,
            link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : pagination.currentPage + 1 }),
            contents: bootstrap_icon('chevron-right')
        }]) %}
        {% set paginationLinks = paginationLinks|merge([{
            is_current: false,
            title: 'whatwedo_table.pagination.last_page'|trans,
            link: whatwedo_table_path_replace_arguments({ (whatwedo_table_parameter(table, 'page')) : pagination.totalPages }),
            contents: bootstrap_icon('chevron-bar-right')
        }]) %}
    {% endif %}

    <footer class="whatwedo_table:footer bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
                <p class="text-sm text-gray-700 inline-block">
                    {% set offsetResults = 0 %}
                    {% if table.rows|length %}{% set offsetResults = pagination.offsetResults + 1 %}{% endif %}

                    {{ 'whatwedo_table.foot.result'|trans({
                        '{offsetResults}': offsetResults,
                        '{offsetLength}': pagination.offsetResults + table.rows|length,
                        '{totalResults}': pagination.totalResults
                    }) }}
                </p>

                <div
                    {{ stimulus_controller('whatwedo/core-bundle/dropdown') }}
                    class="whatwedo_table:footer__dropdown relative inline-block text-left pl-4"
                >
                    <button
                        class="whatwedo_table-button--pagination"
                        data-action="whatwedo--core-bundle--dropdown#toggle"
                        type="button"
                    >
                        {{ 'whatwedo_table.amount_entries'|trans({'{amount}': table.paginationExtension.limit}) }}
                        {{ bootstrap_icon('chevron-up', { class: 'inline w-5 h-5 pl-2' }) }}
                    </button>

                    <div
                        class="hidden origin-top-right absolute left-0 bottom-10 -mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                        data-whatwedo--core-bundle--dropdown-target="dropdown"
                    >
                        <div class="py-1 text-gray-700 text-sm">
                            {% for limit in table.option('limit_choices')|filter(limit => limit != table.paginationExtension.limit) %}
                                <a class="block px-4 py-2 hover:bg-gray-50" href="{{ whatwedo_table_path_replace_arguments({
                                    (whatwedo_table_parameter(table, 'limit')): limit,
                                    (whatwedo_table_parameter(table, 'page')): null
                                }) }}">
                                    {{- 'whatwedo_table.amount_entries'|trans({'{amount}': limit}) -}}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <nav class="whatwedo_table:footer__pagination relative z-0 inline-flex rounded-md shadow-sm -space-x-px text-sm font-medium text-gray-500 bg-white">
                    {% for link in paginationLinks %}
                        <a
                            class="relative inline-flex items-center w-8 justify-center py-2 border border-gray-300 hover:bg-gray-50 first:rounded-l-md last:rounded-r-md{% if link.is_current %} bg-indigo-50 font-medium text-indigo-600{% endif %}"
                            href="{{ link.link }}"
                            title="{{ link.title }}"
                        >
                            {{ link.contents|raw }}
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </footer>
{% endif %}
